/* Color Theme Swatches in RGBA */
$Opera1-rgba: rgba(114,85,59, 1);
$Opera2-rgba: rgba(140,30,30, 1);
$Opera3-rgba: rgba(114,26,26, 1);
$Opera4-rgba: rgba(63,19,19, 1);

/* Color Theme Swatches in RGBA */
$PKP-1-rgba: rgba(14,25,242, 1);
$PKP-2-rgba: rgba(41,71,242, 1);
$PKP-3-rgba: rgba(26,55,140, 1);
$PKP-4-rgba: rgba(53,100,242, 1);
$PKP-5-rgba: rgba(12,12,12, 1);

$base-font-size: 16px;
