/* Color Theme Swatches in RGBA */
$Opera-1: rgba(114,85,59, 1);
$Opera-2: rgba(140,30,30, 1);
$Opera-3: rgba(114,26,26, 1);
$Opera-4: rgba(63,19,19, 1);

/* Color Theme Swatches in RGBA */
$PKP-1: rgba(14,25,242, 1);
$PKP-2: rgba(41,71,242, 1);
$PKP-3: rgba(26,55,140, 1);
$PKP-4: rgba(53,100,242, 1);

/* Color Theme Swatches in RGBA */
$Yoon-1: rgba(242,242,242, 1);
$Yoon-2: rgba(191,191,191, 1);
$Yoon-3: rgba(89,89,89, 1);
$Yoon-4: rgba(38,38,38, 1);
$Yoon-5: rgba(12,12,12, 1);

/* Color Theme Swatches in RGBA */
$Logpass-1: rgba(242,41,94, 1);
$Logpass-2: rgba(19,20,38, 1);
$Logpass-3: rgba(21,191,128, 1);
$Logpass-4: rgba(22,140,97, 1);
$Logpass-5: rgba(21,242,139, 1);

/* Color Theme Swatches in RGBA */
$Elite-1: rgba(114,55,242, 1);
$Elite-2: rgba(49,23,140, 1);
$Elite-3: rgba(0,2,38, 1);
$Elite-4: rgba(5,8,63, 1);
$Elite-5: rgba(9,13,89, 1);

$base-font-size: 16px;
$base-margin: 0px 10px 10px 16px;
